@font-face {
  font-family: "Inter";
  src:
    url("fonts/Inter18pt-Bold.woff2") format("woff2"),
    url("fonts/Inter18pt-Bold.woff") format("woff");

  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SometypeMono";

  src:
    url("fonts/SometypeMono-Regular.woff2") format("woff2"),
    url("fonts/SometypeMono-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SometypeMono";

  src:
    url("fonts/SometypeMono-Medium.woff2") format("woff2"),
    url("fonts/SometypeMono-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SometypeMono";

  src:
    url("fonts/SometypeMono-Bold.woff2") format("woff2"),
    url("fonts/SometypeMono-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Color Palette */
  --header-color: #212121;
  --primary-color: #3d3d3d;
  --primary-color-transparent: #3d3d3d71;
  --secondary-color: #8d8d8e;
  --secondary-color-transparent: #8d8d8e71;
  --main-bg-color: #fffbf3;
  --white-color: #ffffff;
  --bg-color: #fffbf3;

  /* Fonts */
  --primary-font: SometypeMono;
  --heading-font: Inter;
}

/* Main Layout */
body {
  overflow-x: hidden;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  grid-template-columns: 100vw;
  height: 100%;
  justify-content: center;
  background-color: var(--bg-color);
}

header,
main,
footer {
  display: flex;
  justify-content: center;
}

header {
  position: sticky;
  top: 0;
}

.header-content,
.footer-content,
.main-content {
  max-width: 1500px;
  width: 100%;
  padding: 0 30px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.footer-content {
  display: flex;
  justify-content: center;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.brand {
  display: flex;
  gap: 5px;
}

.brand-logo {
  display: flex;
  align-items: center;
}

.brand-text {
  display: flex;
  align-items: center;
  gap: 5px;
}

.brand-text span:first-child {
  display: inline-block;
}

.profile-icon {
  display: flex;
  align-items: center;
}

aside {
  padding: 50px;
}

.sticky {
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: sticky;
  top: 100px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.menu h1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu nav ul {
  padding: 0;
}

.menu nav ul li {
  display: flex;
  gap: 15px;
}

.add-log button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  gap: 10px;
  cursor: pointer;
}

.logs-content {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(84px, auto));
  padding: 10px 20px;
}

.card {
  padding: 10px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 50px;
}

.log-status {
  width: auto;
  min-width: 0;
  display: flex;
  align-items: center;
  height: max-content;
  gap: 15px;
}

.footer-content {
  align-items: center;
  gap: 10px;
}

/* Icon styles */
li,
svg,
path,
circle {
  fill: inherit;
}

.icon {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

svg {
  overflow: visible;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.brand-logo {
  width: 24px;
  fill: var(--white-color);
}

.profile-icon {
  width: 40px;
  fill: var(--white-color);
}

.dot-separator {
  width: 3px;
  fill: var(--secondary-color);
}

.brand-text .dot-separator {
  fill: var(--white-color);
}

.footer-content .dot-separator {
  fill: var(--primary-color);
}

.plus-icon,
.minus-icon {
  fill: var(--secondary-color);
}

li.selected .plus-icon,
li.selected .minus-icon {
  fill: var(--primary-color);
}

.add-log .plus-icon {
  fill: var(--primary-color);
}

/* Header styles */
header {
  background-color: var(--header-color);
}

.brand-text {
  color: white;
  font-family: var(--primary-font);
  font-weight: 700;
  text-transform: uppercase;
}

/* Main content styles */
/* Aside */
aside {
  border-right: solid 1px var(--primary-color);
}

.menu h1 {
  font-size: 5.625rem;
  font-family: var(--heading-font);
  font-weight: bold;
  color: var(--primary-color);
  line-height: 1;
}

.menu h1 span {
  font-size: 1.25rem;
  font-family: var(--primary-font);
  font-weight: 400;
  color: var(--secondary-color);
}

.menu nav ul {
  list-style-type: none;
  color: var(--secondary-color);
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 1.25rem;
}

.menu nav ul .journal-list li {
  cursor: pointer;
}

.journal-list .journal-name {
  max-width: 160px;
}

.journal-list .clicked {
  color: var(--primary-color);
  font-weight: 700;
  fill: var(--primary-color);
}

.journal-list .clicked > span {
  fill: inherit;
}

.menu nav ul input {
  outline: none;
  border: none;
  border-radius: 10px;
  background: var(--primary-color-transparent);
  padding: 5px 10px;
  color: var(--white-color);
}

.menu nav ul input::placeholder {
  color: var(--white-color);
}

.menu .add-journal {
  cursor: pointer;
}

.library-status {
  display: flex;
  align-items: center;
  gap: 15px;
  color: var(--secondary-color);
  font-size: 0.938rem;
  font-family: var(--primary-font);
  font-weight: 400;
}

.add-log button {
  width: 100%;
  border-radius: 10px;
  font-size: 1.25rem;
  font-family: var(--primary-font);
  font-weight: 400;
  color: var(--primary-color);
  border: solid 0.5px var(--primary-color);
  background: none;
}

.add-log button:hover {
  color: var(--bg-color);
  background-color: var(--primary-color);
  fill: var(--bg-color);
}

.add-log button:hover .plus-icon {
  fill: inherit;
}

/* Logs content */
.card {
  border-bottom: 1px solid var(--secondary-color);
}

.card:last-child {
  border-bottom: none;
}

.log-status {
  font-family: var(--primary-font);
  font-weight: 400;
  color: var(--secondary-color);
}

.log-status .date {
  min-width: max-content;
  max-width: 120px;
}

.preview {
  display: flex;
  flex-direction: column;
  min-width: 0;
  color: var(--secondary-color);
  font-family: var(--primary-font);
  font-weight: 500;
}

.preview h2 {
  color: var(--primary-color);
  font-weight: 700;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Footer */
footer {
  border: solid 1px var(--primary-color);
}

.footer-content {
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-weight: 400;
}

.footer-content a {
  text-decoration: none;
  font-weight: 700;
  color: inherit;
}

.footer-content a:hover {
  text-decoration: underline;
}

/* Dialog */
dialog {
  font-family: var(--primary-font);
  padding: 25px;
  background-color: var(--main-bg-color);
  border-radius: 20px;
  border: 1px solid var(--secondary-color);
  width: min-content;
  height: 65vh;
}

dialog::backdrop {
  backdrop-filter: blur(5px);
  background-color: rgb(0, 0, 0, 0.25);
}

dialog * {
  background: none;
}

.dialog-contents {
  height: 100%;
  display: grid;
  grid-template-rows: 8px 1fr;
}

.exit-button {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.exit-button svg {
  width: 8px;
  height: 8px;
}

dialog form {
  display: grid;
  grid-template-rows: 1fr min-content;
  gap: 20px;
}

dialog input::placeholder,
dialog #paragraph::placeholder {
  color: var(--secondary-color-transparent);
}

dialog input,
dialog #paragraph {
  color: var(--primary-color);
}

label input,
#paragraph {
  width: 100%;
}

.content-controls {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--secondary-color-transparent);
}

label[for="paragraph"] {
  flex: 1;
}

.content-controls input,
#paragraph {
  border: none;
  outline: none;
}

#heading {
  font-size: 2.5rem;
}

#paragraph {
  font-size: 1.25rem;
  resize: none;
  height: 100%;
}

.additional-controls {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 33px;
}

.additional-controls > label {
  display: flex;
  gap: 5px;
  align-items: center;
  font-weight: 700;
}

.additional-controls input {
  font-size: 1.25rem;
  min-width: max-content;
  border-radius: 10px;
  border: 1px solid var(--secondary-color-transparent);
  padding: 5px;
  color: var(--primary-color);
  font-weight: 400;
}

.additional-controls input::placeholder {
  color: var(--secondary-color-transparent);
}

.calendar-icon,
.author-icon {
  display: inline-block;
  flex-shrink: 0;
}

.calendar-icon {
  width: 30px;
}

.author-icon {
  width: 30px;
}

label[for="author"] > span:first-child,
label[for="date"] > span:first-child {
  font-size: 1.25rem;
}

dialog button {
  font-size: 1.25rem;
  font-weight: 500;
  max-width: max-content;
  justify-self: end;
  border-radius: 10px;
  border: 1px solid var(--primary-color);
  color: var(--white-color);
  background-color: var(--primary-color);
}

dialog button:hover {
  color: var(--primary-color);
  background: none;
}
