@font-face {
  font-family: "Inter";
  src:
    url("fonts/Inter18pt-Bold.woff2") format("woff2"),
    url("fonts/Inter18pt-Bold.woff") format("woff");

  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SometypeMono";

  src:
    url("fonts/SometypeMono-Regular.woff2") format("woff2"),
    url("fonts/SometypeMono-Regular.woff") format("woff");
  font-weight: regular;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SometypeMono";

  src:
    url("fonts/SometypeMono-Medium.woff2") format("woff2"),
    url("fonts/SometypeMono-Medium.woff") format("woff");
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SometypeMono";

  src:
    url("fonts/SometypeMono-Bold.woff2") format("woff2"),
    url("fonts/SometypeMono-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Color Palette */
  --header-color: #212121;
  --primary-color: #3d3d3d;
  --secondary-color: #8d8d8e;
  --main-bg-color: #fffbf3;
  --white-color: #ffffff;
  --bg-color: #fffbf3;

  /* Fonts */
  --primary-font: SometypeMono;
  --heading-font: Inter;
}

/* Main Layout */
body {
  overflow-x: hidden;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  grid-template-columns: 100vw;
  height: 100%;
  justify-content: center;
  background-color: var(--bg-color);
}

header,
main,
footer {
  display: flex;
  justify-content: center;
}

header {
  position: sticky;
  top: 0;
}

.header-content,
.footer-content,
.main-content {
  max-width: 1500px;
  width: 100%;
  padding: 0 30px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.footer-content {
  display: flex;
  justify-content: center;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.brand {
  display: flex;
  gap: 5px;
}

.brand-logo {
  display: flex;
  align-items: center;
}

.brand-text {
  display: flex;
  align-items: center;
  gap: 5px;
}

.brand-text span {
  display: inline-block;
}

.profile-icon {
  display: flex;
  align-items: center;
}

aside {
  padding: 50px;
}

.sticky {
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: sticky;
  top: 100px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.menu h1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu nav ul {
  padding: 0;
}

.menu nav ul li {
  display: flex;
  gap: 15px;
}

.add-log button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  gap: 10px;
}

.add-log button span {
  display: inline-block;
}

.logs-content {
  display: grid;
  grid-template-rows: minmax(84px, auto);
  padding: 10px 20px;
}

.card {
  padding: 10px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 89px;
}

.log-status {
  display: flex;
  align-items: center;
  height: max-content;
  gap: 15px;
}

.footer-content {
  align-items: center;
  gap: 10px;
}

/* Icon styles */
li,
svg,
path,
circle {
  fill: inherit;
}

svg {
  width: 100%;
  height: 100%;
}

.brand-logo {
  width: 24px;
  fill: var(--white-color);
}

.profile-icon {
  width: 40px;
  fill: var(--white-color);
}

.dot-separator {
  width: 3px;
  fill: var(--secondary-color);
}

.brand-text .dot-separator {
  fill: var(--white-color);
}

.footer-content .dot-separator {
  fill: var(--primary-color);
}

.plus-icon,
.minus-icon {
  fill: var(--secondary-color);
}

li.selected .plus-icon,
li.selected .minus-icon {
  fill: var(--primary-color);
}

.add-log .plus-icon {
  fill: var(--primary-color);
}

/* Header styles */
header {
  background-color: var(--header-color);
}

.brand-text {
  color: white;
  font-family: var(--primary-font);
  font-weight: bold;
  text-transform: uppercase;
}

/* Main content styles */
/* Aside */
aside {
  border-right: solid 1px var(--primary-color);
}

.menu h1 {
  font-size: 5.625rem;
  font-family: var(--heading-font);
  font-weight: bold;
  color: var(--primary-color);
  line-height: 1;
}

.menu h1 span {
  font-size: 1.25rem;
  font-family: var(--primary-font);
  font-weight: regular;
  color: var(--secondary-color);
}

.menu nav ul {
  list-style-type: none;
  color: var(--secondary-color);
  font-family: var(--primary-font);
  font-weight: regular;
  font-size: 1.25rem;
}

.menu nav ul .selected {
  color: var(--primary-color);
  font-weight: bold;
}

.library-status {
  display: flex;
  align-items: center;
  gap: 15px;
  color: var(--secondary-color);
  font-size: 0.938rem;
  font-family: var(--primary-font);
  font-weight: regular;
}

.add-log button {
  width: 100%;
  border-radius: 10px;
  font-size: 1.25rem;
  font-family: var(--primary-font);
  font-weight: regular;
  color: var(--primary-color);
  border: solid 0.5px var(--primary-color);
  background: none;
}

.add-log button:hover {
  color: var(--bg-color);
  background-color: var(--primary-color);
  fill: var(--bg-color);
}

.add-log button:hover .plus-icon {
  fill: inherit;
}

/* Logs content */
.card {
  border-bottom: 1px solid var(--secondary-color);
}

.card:last-child {
  border-bottom: none;
}

.log-status {
  font-family: var(--primary-font);
  font-weight: regular;
  color: var(--secondary-color);
}

.preview {
  display: flex;
  flex-direction: column;
  min-width: 0;
  color: var(--secondary-color);
  font-family: var(--primary-font);
  font-weight: medium;
}

.preview h2 {
  color: var(--primary-color);
  font-weight: bold;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Footer */
footer {
  border: solid 1px var(--primary-color);
}

.footer-content {
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-weight: regular;
}

.footer-content a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

.footer-content a:hover {
  text-decoration: underline;
}
